[submodule "dependencies/libtrue"]
	path = dependencies/libtrue
	url = git@github.com:AhmedHodiani/libtrue.git
[submodule "dependencies/libft"]
	path = dependencies/libft
	url = git@github.com:AhmedHodiani/libft.git
[submodule "dependencies/libftprintf"]
	path = dependencies/libftprintf
	url = git@github.com:AhmedHodiani/libftprintf.git
[submodule "dependencies/libgnl"]
	path = dependencies/libgnl
	url = git@github.com:AhmedHodiani/libgnl.git
